.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.custom-image-size {
  max-width: 10px;
  /* Adjust as needed */
  max-height: 10px;
  /* Adjust as needed */
}

.grids {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-left: 10%;
  margin-right: 10%;
}

.email-row {
  /* Center the text horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Center the text vertically */
  border: 1px solid rgb(14, 14, 14);
  /* Add a black border */
  padding: 10px;
  background-color: rgba(0, 0, 0, .03);
  color: #868e96;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  /* Masque le texte qui dépasse */
  white-space: nowrap;
  /* Empêche le texte de passer à la ligne */
  text-overflow: ellipsis;
  /* Ajoute des points de suspension (...) en fin de texte si nécessaire */


}

.slider-col {

  border: 1px solid black;
  height: 160px;
  border-bottom: 0px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;

}

.test {
  margin: 10px;
 padding: 5px;
}

.test:hover{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a subtle shadow on hover */
  transition: all 0.3s ease-in-out; /* Add a smooth transition effect */

}

.additional-details {
  background-color: #f8f9fa;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  transition: all 0.3s ease-in-out; /* Add a smooth transition effect */
}
.additional-details:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a subtle shadow on hover */
}

.additional-details p {
  font-size: 16px;
  color: #333;
  margin: 8px 0;
}
.additional-details h3 {
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}